/* Colors */

$primary: #6DBE45; //green
$secondary: #A8D5BA; //light green
$accent: #FFAB5E; //silver
$soft: #A1DFF7; //white
$neutral: #F0F0F0; // grey 
$white: #fff;
$black: #000;


/* Spacing Values */

$spacing-unit-sm: 1rem;
$spacing-unit-med: 1.5rem;
$spacing-unit-lg: 2.25rem;
$spacing-unit-xl: 4.5rem;

/* Misc */

$border-radius: 0.25rem;
$transition: 0.3s;
$divider: 1px $accent solid;